<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Cập nhật</h1>
            </div>
            <!--Card-->
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="model.formGroup" (ngSubmit)="submitData()">
                        <div class=" row form-group">
                            <div class="col-sm-2 col-md-2">
                                <label for="name">Họ tên</label>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <input class="form-control" type="text" [(ngModel)]="model.name" formControlName="name">
                            </div>

                            <div [hidden]="!(model.formGroup.controls['name'].hasError('required'))">Tên khách hàng không được
                                để trống</div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2 col-md-2">
                                <label for="gender">Giới tính</label>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <!-- <input type="text" [(ngModel)]="model.gender" formControlName="gender" /> -->
                                <select [(ngModel)]="model.gender" class="form-control"  formControlName="gender">
                                    <option [value]="null">Chọn giới tính</option>
                                    <option value="0">Nam</option>
                                    <option value="1">Nữ</option>
                                </select>
                            </div>

                            <!-- <div [hidden]="!(model.formGroup.controls['gender'].hasError('required'))">Tên giá không được
                                để trống</div> -->
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2 col-md-2">
                                <label for="date_of_birth">Ngày sinh</label>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <input class="form-control" type="text" [(ngModel)]="model.date_of_birth" formControlName="date_of_birth" />
                            </div>

                            <!-- <div [hidden]="!(model.formGroup.controls['date_of_birth'].hasError('required'))">Tên số lượng
                                không được để trống</div> -->
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2 col-md-2">
                                <label for="address">Địa chỉ</label>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <input class="form-control" type="text" [(ngModel)]="model.address" formControlName="address" />
                            </div>

                            <!-- <div [hidden]="!(model.formGroup.controls['address'].hasError('required'))">Tên số lượng
                                không được để trống</div> -->
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2 col-md-2">
                                <label for="phone">Số điện thoại</label>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <input class="form-control" type="text" [(ngModel)]="model.phone" formControlName="phone" />
                            </div>

                            <!-- <div [hidden]="!(model.formGroup.controls['phone'].hasError('required'))">Tên số lượng
                                không được để trống</div> -->
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2 col-md-2">
                                <label for="info">Ghi chú</label>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <input class="form-control" type="text" [(ngModel)]="model.info" formControlName="info" />
                            </div>

                            <!-- <div [hidden]="!(model.formGroup.controls['info'].hasError('required'))">Tên số lượng
                                không được để trống</div> -->
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary mr-1" type="submit"
                                [disabled]="!(model.formGroup.valid)">Lưu</button>
                            <button class="btn btn-info" type="button" [routerLink]="['/home/customer']"
                                routerLinkActive="router-link-active">Quay lại</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
            <!--/End card-->
        </main>
    </div>
</div>