<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <div class="row"><h1 class="h2">Dashboard</h1></div>                
                
            </div>
            <div class="row">
                <h6>Biểu đồ số lượng sản phẩm</h6>              
            </div>
</main>
<div class="container-fluid">
    <div class="row">
        <div class="chart-container" style="position: relative; height:40vh; width:70vw">    
            <canvas id="canvas">{{ chart }}</canvas>
        </div>
    </div>
    

</div>

