<!-- <p>customer works!</p>
<input type="text" [(ngModel)]="CurrentCustomer.CustomerName" />
<h1>{{CurrentCustomer.CustomerName}}</h1> -->
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">CUSTOMER</h1>
            </div>
            <!--Card-->
            <form>
                <div class="form-row">
                    <div class="form-group col-md-4 col-sm-4">
                        <input type="text" class="form-control" placeholder="Enter your full name" />
                    </div>
                    <div class="form-group col-md-4 col-sm-4">
                        <input type="text" class="form-control" placeholder="Enter your age" />
                    </div>
                    <div class="form-group col-md-4 col-sm-4">
                        <input type="text" class="form-control" placeholder="Enter your address" />
                    </div>
                </div>
            </form>
            
            <div class="row float-right">
                <button class="btn btn-primary" type="button" value="send">Tìm kiếm</button>
            </div>
            <div class="row mt-5">
                <div><button [routerLink]="['/home/customer-add']" routerLinkActive="router-link-active" class="btn btn-primary" type="button" value="send">Thêm mới</button></div>
            </div>
            <div class="row mt-3">
                <table class="table table-striped change-color">
                    <thead>
                        <tr>
                            <th style="width: 20%" scope="col">Họ tên</th>
                            <th style="width: 10%" scope="col">Giới tính</th>
                            <th style="width: 10%" scope="col">Năm sinh</th>
                            <th style="width: 15%" scope="col">Địa chỉ</th>
                            <th style="width: 15%" scope="col">Số điện thoại</th>
                            <th style="width: 20%" scope="col">Ghi chú</th>
                            <th style="width: 10%"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="total == 0">
                        <tr>
                            <td colspan="3">Chưa có danh mục nào</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="total > 0">
                        <tr *ngFor="let item of categories">
                            <td>{{item.name}}</td>
                            <td>
                                <p *ngIf="item.gender == 0">Nam</p>
                                <p *ngIf="item.gender == 1">Nữ </p>
                            </td>
                            <!-- <td>{{item.gender}}</td> -->
                            <td>{{item.date_of_birth}}</td>
                            <td>{{item.address}}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.info}}</td>
                            <td>
                                <button class="btn btn-primary btn-sm mr-1 " [routerLink]="['/home/customer-edit/'+item.id]" routerLinkActive="router-link-active"><i class="fas fa-edit"></i></button>
                                <button class="btn btn-danger btn-sm" (click)="delete(item.id)" href="javascript:;"><i class="fas fa-trash"></i></button>                             
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!--/End card-->
        </main>
    </div>
</div>